/* #5cf4Db */
.Header-Box {
  display: flex;
  font-family: "Cutive Mono", monospace;
  height: min(100vh);
  width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #5cf4db 0%, white 100%);
  background-size: 200% 200%;
  -webkit-animation: color-swap 6s ease-in-out infinite;
  -moz-animation: color-swap 6s ease-in-out infinite;
  animation: color-swap 6s ease-in-out infinite;
}
@keyframes color-swap {
  0% {
    color: white;
    background-position: 10% 0%;
  }
  50% {
    color: #333;
    background-position: 91% 100%;
  }
  100% {
    color: white;
    background-position: 10% 0%;
  }
}

.Header-Top {
  font-size: 5em;
  font-weight: 700;
  padding: 5px;
}
.Header-Bottom {
  font-weight: 700;
}

#span-black {
  color: #191919;
}
