.project-container {
  display: flex;
  text-align: center;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  color: #fff;
  background-color: #333;
}
@media screen and (max-width:375px){
  #project-description{
    width: 80%;
    font-size: 1em
  }
  #project-pic{
    width: 350px;
  }
}

@media screen and (max-width: 320px){
  .Project-Box{
    justify-content: center;
  }
  #project-tab{
    height: 375px;
  }

  #project-description{
    font-size: .8em;
    margin: 0 auto;
  }
  #project-pic{
    width: 300px;
    height: 250px;
  }
}
