.Header-Box {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: rgba(243, 243, 243, 0.151);
  height: 20vh;
  width: 100%;
}
.Header-Top {
  padding-top: 10px;
  font-size: 5em;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(230, 230, 230, 0.055);
}
.Header-Bottom {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Header-Link {
  background-color: transparent;
  border: none;
  /* margin: auto; */
  /* background-color: rgba(230, 230, 230, 0.33); */
}
.Link-List {
  margin: 0 auto;
  padding: 0;
  /* border-bottom: 0.2px solid rgba(128, 128, 128, 0.486); */
}
#Link-Text {
  font-size: 2.3em;
  font-family: "Open Sans Condensed", sans-serif;
  cursor: pointer;
  padding: 5px 50px;
}
#Link-Text:hover {
  opacity: 0.7;
}
@media (max-width: 560px) {
  .Header-Box {
    /* text-align: center; */
    position: relative;
    display: flex;

    /* justify-content: space-between; */
    background-color: rgba(243, 243, 243, 0.151);
    height: 20vh;
    width: 100%;
  }
  .Header-Top {
    font-size: 3em;
  }
}

.Home-Tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
  height: 50vh;
  width: 100%;
  background: rgb(236, 236, 236);
}

.Home-Text-Div {
  padding-top: 75px;
  width: 50%;
  font-size: 3.2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
  text-align: center;
}

#tres-pic {
  margin-top: 40px;
  border-radius: 200px;
}
@media (max-width: 800px) {
  .Home-Text-Div {
    width: 80%;
    font-size: 2.5em;
  }
  #tres-pic{
    height: 250px;
    width: 250px;
  }
}
@media (max-height: 858px) {
  .Home-Tab {
    justify-content: center;
    align-items: center;
  }
  .Home-Text-Div {
    margin-left: 50px;
    font-size: 2.5em;
  }
  #tres-pic{
    height: 250px;
    width: 250px;
  }
}


.Project-Box {
  display: flex;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: rgb(236, 236, 236);
  height: auto;
  width: 100%;
}

#project-tab {
  width: 500px;
  height: 500px;
  margin: 20px;
  font-family: "Open Sans";
  border-radius: 20px;
  /* border: transparent; */
  background-color: rgb(236, 236, 236);
}
#project-tab:hover {
  width: 505px;
  height: 505px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px rgb(65, 57, 57), 5px 5px inset rgb(65,57,57);

}
#project-pic {
  border-radius: 15px;
}

.footer-box{
  display: flex;
  font-size: 1.5em;
  font-weight: lighter;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height:45px;
  background:white;
}
#email-link{
  
  text-decoration: none;
  color: black;
}

#email-link:hover{
  text-decoration: underline;
}